/global_dictionary.txt
/UMLS-2019AB-ANAT-GER.txt
/UMLS-2019AB-CHEM-GER.txt
/UMLS-2019AB-DEVI-GER.txt
/UMLS-2019AB-DISO-GER.txt
/UMLS-2019AB-LIVB-GER.txt
/UMLS-2019AB-PHEN-GER.txt
/UMLS-2019AB-PHYS-GER.txt
