.project
jcore-pipelines/detectStopWords/*
jcore-pipelines/detectUMLSentries/*
/build/
/.classpath
/outPubMedTxt/
/allGermanPubMedCaseAbstracts-20200221.xml
.settings/*

/target/
/bin/
/temp/

/output-*/
GGPONC-*.jar
.idea
.vscode
/output-PubMedTxt/
/MRCONSO.RRF
/MRSTY.RRF
